mock==2.0.0
pytest==4.6.6
pytest-runner==5.2
requests==2.22.0
responses==0.10.6
sphinx==1.8.5; python_version <= '2.7'
sphinx==3.1.2; python_version > '3.4'
sphinx-rtd-theme==0.5.0
sphinx-tabs==1.1.13
